healthCheckTimeout: 600
logLevel: info
logToStdout: "proxy"
startPort: 10001
defaultTTL: 600

# Reusable macro for the docker run prefix (llama.cpp CUDA & stablediffusuion.cpp)
macros:
  llama-docker: |
    docker run
      --name ${MODEL_ID}
      --init
      --rm
      --gpus all
      -p ${PORT}:8080
      -v /mnt/cache/models:/models
      ghcr.io/ggml-org/llama.cpp:server-cuda13
  sd-docker: |
    docker run
      --name ${MODEL_ID}
      --init
      --rm
      --gpus all
      -p ${PORT}:8080
      -v /mnt/cache/models:/models
      sd-server-cuda13:latest

# Model definitions
models:
  nemotron-super-120b-a12b:
    cmd: |
      ${llama-docker}
        -m /models/NVIDIA-Nemotron-3-Super-120B-A12B-UD-Q4_K_M-00001-of-00003.gguf
        --alias "nemotron-super-120b-a12b"
        --port 8080
        --host 0.0.0.0
        --no-webui
        -ngl 999
        -c 180000
        -np 1
        --flash-attn on
        --no-mmap
        --kv-unified
        -ub 4096
        --jinja
    cmdStop: docker stop ${MODEL_ID}
    proxy: http://127.0.0.1:${PORT}
    ttl: 600
    checkEndpoint: /health

  qwen3.6-35b-a3b:
    cmd: |
      ${llama-docker}
        -m /models/Qwen3.6-35B-A3B/Qwen3.6-35B-A3B-UD-Q6_K_XL.gguf
        --alias "qwen3.6-35b-a3b"
        --port 8080
        --host 0.0.0.0
        --no-webui
        -ngl 999
        -c 180000
        -np 10
        --flash-attn on
        --mmproj /models/Qwen3.6-35B-A3B/mmproj-BF16.gguf
        --no-mmap
        --kv-unified
        -ub 4096
        --jinja
    cmdStop: docker stop ${MODEL_ID}
    proxy: http://127.0.0.1:${PORT}
    ttl: 600
    checkEndpoint: /health

  gemma-4-26b-a4b:
    cmd: |
      ${llama-docker}
        -m /models/Gemma-4-26B-A4B/gemma-4-26B-A4B-it-UD-Q6_K_XL.gguf
        --alias "gemma-4-26b-a4b"
        --port 8080
        --host 0.0.0.0
        --no-webui
        -ngl 999
        -c 180000
        -np 10
        --flash-attn on
        --mmproj /models/Gemma-4-26B-A4B/mmproj-BF16.gguf
        --no-mmap
        --kv-unified
        -ub 4096
        --jinja
    cmdStop: docker stop ${MODEL_ID}
    proxy: http://127.0.0.1:${PORT}
    ttl: 300
    checkEndpoint: /health

  flux.2-klein-9b:
    cmd: |
      ${sd-docker} \
        --listen-ip 0.0.0.0 \
        --listen-port 8080 \
        --diffusion-model /models/Flux.2-klein-9B/flux-2-klein-9b-Q8_0.gguf \
        --vae /models/Flux.2-klein-9B/diffusion_pytorch_model.safetensors \
        --llm /models/Flux.2-klein-9B/Qwen3-8B-Q4_K_M.gguf \
        --fa \
        --diffusion-fa \
        --cfg-scale 1.0 \
        --steps 8 \
        --sampling-method euler
    proxy: http://127.0.0.1:${PORT}
    ttl: 120
    checkEndpoint: /

  qwen-image-edit:
    cmd: |
      ${sd-docker} \
        --listen-ip 0.0.0.0 \
        --listen-port 8080 \
        --diffusion-model /models/Qwen-Image-Edit/qwen-image-edit-2511-Q8_0.gguf \
        --vae /models/Qwen-Image-Edit/qwen_image_vae.safetensors \
        --qwen2vl /models/Qwen-Image-Edit/Qwen2.5-VL-7B-Instruct-UD-Q4_K_XL.gguf \
        --qwen2vl_vision /models/Qwen-Image-Edit/mmproj-BF16.gguf \
        --diffusion-fa \
        --cfg-scale 4 \
        --steps 10 \
        --sampling-method euler \
        --qwen-image-zero-cond-t \
        --negative-prompt " "
    proxy: http://127.0.0.1:${PORT}
    ttl: 120
    checkEndpoint: /

# Define groups for swapping
groups:
  gpu-heavy:
    swap: true
    exclusive: true
    members:
      - nemotron-super-120b-a12b

  dont-swap:
    swap: false
    members:
      - qwen3.6-35b-a3b
      - flux.2-klein-9b
